.header{
    padding: 5px;
    /* margin-left:200px; */
    display: flex;
    width: calc(100vw - 200px);
    height: 60.19px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(122, 113, 113, 0.1);
}
.header input{
    margin-left: 300px;
    /* position: absolute; */
    width: 331.68px;
    margin-top: 10px;
    height: 30.67px;
    background: rgba(217, 217, 217, 0.3);
    border-radius: 5px;
    transform: translateZ(2px);
    box-shadow: 3px 2px 6px 0px  rgba(35, 25, 25, 0.25);
    }
    .header h1{
        margin: 10px;
        margin-left: 54px;
        font-size: large;
        font-weight: 200;
    }